.checkout {
    margin-top: 80px;
    .banner {
        height: 350px;
        background-image: url("https://upload.cc/i1/2021/07/13/FGiPaB.jpg");
    }
   .order {
       padding: 15px;
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.46);
       .orderDetail {
           border-bottom: 1px solid#BEBEBE;
           img {
               height: 60px;
               width: 100px;
               object-fit: cover;
           }
       }
       .send {
           cursor: pointer;
       }
   }
    
}