.nav {
    padding: 20px 0;
    transition: all 0.3s;
    .menu a {
        padding: 10px 10px;
        transition: all 0.3s;
        &:hover {
            color:$primary
        }
    }
    &.active {
        background: $orange;
    }
}
